

#### WEBDAV properties ####

webdavBaseUrl = http://somewebdavUrl.edu/data/
webdavUser = bob
webdavPassword = isyouruncle



#### Used for FULL extract ####

fullMrc21Dir = bib.mrc.full
fullMrc21DoneDir = bib.mrc.full.done
fullMrc21BadDir  = bib.mrc.full.bad

fullMrcXmlDir = bib.xml.full

fullMrcNtDir = bib.mfhd.nt.full



#### Properties used for Incremental Update ####

dailyMrcDir = bib.mrc.updates
dailyMrcDoneDir = bib.mrc.updates.done
dailyMrcBadDir = bib.mrc.updated.bad
dailyMrcDeleted = bib.mrc.deleted
dailyMrcXmlDir = bib.xml.updates
dailyMrcNtDir = bib.nt.daily
dailySuppressedDir = suppressed
dailyUnsuppressedDir = unsuppressed



#### Properties related to Solr ###

solrUrl = http://someSolrUrl.edu/someCore