

#### WEBDAV properties ####

webdavBaseUrl = http://somewebdavUrl.edu/data/
#webdavUser = bob
#webdavPassword = isyouruncle



#### Used for FULL extract ####

fullMrc21Dir = bib.mrc.full
fullMrc21DoneDir = bib.mrc.full.done
fullMrc21BadDir  = bib.mrc.full.bad

fullMrcXmlDir = bib.xml.full

fullMrcNtDir = bib.mfhd.nt.full



#### Properties used for Incremental Update ####

dailyMrcDir = voyager/bib.mrc.updates
dailyMfhdDir = voyager/mfhd.mrc.updates

dailyCombinedMrcDir = updates/bib.updates

dailyMrcDoneDir = bib.mrc.updates.done
dailyMrcBadDir = bib.mrc.updated.bad
dailyMrcDeleted = bib.mrc.deleted

dailyBibMrcXmlDir = voyager/bib/bib.xml.updates
dailyMfhdMrcXmlDir = voyager/mfhd/mfhd.xml.updates

dailyMrcNtDir = voyager/bib/bib.nt.daily
dailyMrcNtFilenamePrefix = bibmfhd

dailyBibSuppressedDir = voyager/bib/suppressed
dailyBibSuppressedFilenamePrefix = suppressedBibId

dailyBibUnsuppressedDir = voyager/bib/unsuppressed
dailyBibUnsuppressedFilenamePrefix = unsuppressedBibId

dailyMfhdSuppressedDir = voyager/mfhd/suppressed
dailyMfhdSuppressedFilenamePrefix = suppressedMfhdId

dailyMfhdUnsuppressedDir = voyager/mfhd/unsuppressed
dailyMfhdUnsuppressedFilenamePrefix = unsuppressedMfhdId

dailyBibUpdates = updates/bib.updates
dailyBibDeltes = updates/bib.deletes

dailyReports = reports/voyager

#### Properties related to Solr ###

solrUrl = http://someSolrUrl.edu/someCore



#### Misc. Properties ####
tmpDir = /tmp