# This file configures the location of the 
# solr directory template for use in the unit tests.
#
# The value in this file should be added by the
# build scripts.

solrTemplateDirectory=@solrTemplateDirectory@

