# part of the CUL Unicode tag tables 12/05/05 STR
# part of the CUL Unified2001 tag tables 12/11/02 STR
# part of the CUL Unified2000 tag tables 12/4/00 MMK
# part of the CUL Unified tag tables 3/22/00 MMK
# comment your work! EJW
# comment starting date 7/22/97 EJW
# replaced all "|" in indicator values with "_"; 5/18/98 ES
# reviewed and revised 8/07/99 (see '..\Specs\99.1\OCLC Tag Table Updates.doc') for 99.1 release TJU
# added subfields 6 and 9 to [400], [410], [411], and [440] and subfield 6 to [490] 3/22/00 MMK
# designated value 2 in [400Ind1] as obsolete 5/26/00 MMK
# designated value _ in [490Ind1] as "do not use"; not sure why it's in there, but I'm hesitant to take it out 5/30/00 MMK
# added obsolete subfield b to [411]. Kept subfields s and 9, from OCLC & RLIN MARC respectively 06/07/01 STR
# added subfields w and 0 to [440] (Upd. 8, 2007) 04/23/2008 STR
# NOTE: [440] is now OBSOLETE in master.cfg (Upd. 9, Oct. 2008) but preserved here for functional reasons 1/12/2009 STR
# redefined [490Ind1], removed value blank for [490Ind1] and added subfield 3 to [490] (Upd. 9, 2008) 1/12/2009 STR
# changed subfield x in [490] from NR to R (Upd. 10, 2009) 1/13/2010 STR



[400]
0=a 0M
1=b 0A
2=c 1A
3=d 0A
4=e 1A
5=f 0A
6=g 0A
7=k 1A
8=l 0A
9=n 1A
10=p 1A
11=q 0A
12=t 0M
13=u 0A
14=v 0A
15=x 0A
16=4 1A
17=6 0A
18=9 0A
19=8 1A
Subfa=Personal name
Subfb=Numeration
Subfc=Titles and other words associated with a name
Subfd=Dates associated with a name
Subfe=Relator term
Subff=Date of a work
Subfg=Miscellaneous information
Subfk=Form subheading
Subfl=Language of a work
Subfn=Number of part/section of a work
Subfp=Name of part/section of a work
Subfq=Fuller form of name
Subft=Title of a work
Subfu=Affiliation
Subfv=Volume number/sequential designation
Subfx=International Standard Serial Number
Subf4=Relator code
Subf6=Linkage
Subf9=9
Subf8=Field link and sequence number

[400Ind1]
0=0
1=1
2=2
3=3
Value0=Forename
Value1=Surname
Value2=Multiple surname (OBSOLETE)
Value3=Family name

[400Ind2]
0=0
1=1
Value0=Main entry not represented by pronoun
Value1=Main entry represented by pronoun

[410]
0=a 0M
1=b 1A
2=c 0A
3=d 1A
4=e 1A
5=f 0A
6=g 0A
7=k 1A
8=l 0A
9=n 1A
10=p 1A
11=t 0M
12=u 0A
13=v 0A
14=x 0A
15=4 1A
16=6 0A
17=9 0A
18=8 1A
Subfa=Corporate name or jurisdiction name as entry element
Subfb=Subordinate unit
Subfc=Location of meeting
Subfd=Date of meeting or treaty signing
Subfe=Relator term
Subff=Date of a work
Subfg=Miscellaneous information
Subfk=Form subheading
Subfl=Language of a work
Subfn=Number of part/section/meeting
Subfp=Name of part/section of a work
Subft=Title of a work
Subfu=Affiliation (Nonprinting subfield)
Subfv=Volume number/sequential designation
Subfx=International Standard Serial Number
Subf4=Relator code
Subf6=Linkage
Subf9=9
Subf8=Field link and sequence number

[410Ind1]
0=0
1=1
2=2
Value0=Inverted name
Value1=Jurisdiction name
Value2=Name in direct order

[410Ind2]
0=0
1=1
Value0=Main entry not represented by pronoun
Value1=Main entry represented by pronoun

[411]
0=a 0M
1=c 0A
2=d 0A
3=e 1A
4=f 0A
5=g 0A
6=k 1A
7=l 0A
8=n 1A
9=p 1A
10=q 0A
11=s 0A
12=t 0M
13=u 0A
14=v 0A
15=x 0A
16=4 1A
17=6 0A
18=9 0A
19=8 1A
20=b 0A
Subfa=Meeting name or jurisdiction name as entry element
Subfb=Number (OBSOLETE)
Subfc=Location of meeting
Subfd=Date of meeting
Subfe=Subordinate unit
Subff=Date of a work
Subfg=Miscellaneous information
Subfk=Form subheading
Subfl=Language of a work
Subfn=Number of part/section/meeting
Subfp=Name of part/section of a work
Subfq=Name of meeting following place jurisdiction name entry element
Subfs=Version (NLC use only)
Subft=Title of a work
Subfu=Affiliation
Subfv=Volume number/sequential designation
Subfx=International Standard Serial Number
Subf4=Relator code
Subf6=Linkage
Subf8=Field link and sequence number
Subf9=9 (RLIN)

[411Ind1]
0=0
1=1
2=2
Value0=Inverted name
Value1=Jurisdiction name
Value2=Name in direct order

[411Ind2]
0=0
1=1
Value0=Main entry not represented by pronoun
Value1=Main entry represented by pronoun

[440]
0=a 0M
1=n 1A
2=p 1A
3=v 0A
4=w 1A
5=x 0A
6=0 1A
7=6 0A
8=8 1A
Subfa=Title
Subfn=Number of part/section of a work
Subfp=Name of part/section of a work
Subfv=Volume number/sequential designation
Subfw=Bibliographic record control number
Subfx=International Standard Serial Number
Subf0=Authority record control number 
Subf6=Linkage
Subf8=Field link and sequence number

[440Ind1]
0=_
Value_=Undefined

[440Ind2]
0=0
1=1
2=2
3=3
4=4
5=5
6=6
7=7
8=8
9=9
Value0=nonfiling character
Value1=nonfiling character
Value2=nonfiling characters
Value3=nonfiling characters
Value4=nonfiling characters
Value5=nonfiling characters
Value6=nonfiling characters
Value7=nonfiling characters
Value8=nonfiling characters
Value9=nonfiling characters

[490]
0=a 1M
1=l 0A
2=v 1A
3=x 1A
4=6 0A
5=8 1A
6=3 0A
Subfa=Series statement
Subfl=Library of Congress call number
Subfv=Volume number/sequential designation
Subfx=International Standard Serial Number
Subf3=Materials specified
Subf6=Linkage
Subf8=Field link and sequence number

[490Ind1]
0=0
1=1
Value0=Series not traced
Value1=Series traced

[490Ind2]
0=_
Value_=Undefined



